.RB{
	border: 1px solid #85A0C9;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
}
.BS{box-shadow:3px 3px 3px rgba(0, 0, 0, 0.5);}
#modal{
	display:none;
	position:absolute;	
	z-index:1;	
	top:0;
	left:0;	
	background-color: #ffffff;
}
#modal_content{
	max-width:740px;
	display:table-cell;
	padding:40 20 20 20;	
	font-size:14pt;
}
.modal_close
{
	color:#aaa;
	cursor:pointer;
	font-size:50px;
	position:absolute;	
	right:0;	
	top:0;	
	margin:-0.2em 0.3em 0 0;
	caret-color:transparent;
	width: 20px;		
}
.modal_close:hover
{color:#FFCCD9;caret-color:transparent;}
#modal_gray_layer{
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;	
	background: rgba(0, 0, 0, 0.1);
	display:none;	
}